<!-- <html>
  <head>
    <h1>Users#index</h1>
    <p>Find me in app/views/users/index.html.erb</p>


  </head>
  <body>
  <script src="https://apis.google.com/js/platform.js" async defer></script>
  <script>
  gapi.hangout.render('placeholder-div', { 'render': 'createhangout' });
  </script>
    <div id="placeholder-div"></div>
  </body>
</html> -->

<!-- <script src="https://apis.google.com/js/platform.js" async defer></script>
<div id="madhu-div"></div>
<script>
gapi.hangout.render('madhu-div', { 'render': 'createhangout' });
</script> -->
<script src="https://apis.google.com/js/platform.js" async defer></script>
<div class="g-hangout" data-render="createhangout" type="onair" data-initial_apps="[{ app_id : '466254539627', start_data : 'dQw4w9WgXcQ', 'app_type' : 'ROOM_APP' }]"></div>

<!-- <div layout horizontal center>
  <span flex>Wide Hangout on Air button</span>
  <span flex><google-hangout-button type="onair" width="175" data-initial_apps="[{ app_id : '123456789012', start_data : 'dQw4w9WgXcQ', 'app_type' : 'ROOM_APP' }]"></google-hangout-button></span>
</div> -->

<!-- <script src="https://apis.google.com/js/platform.js" async defer></script>
<div id="placeholder-div4"></div>
<script>
gapi.hangout.render('placeholder-div4', {
  'topic': 'hats',
  'render': 'createhangout',
  'hangout_type': 'onair',
  'initial_apps': [{'app_id' : '184219133185', 'start_data' : 'dQw4w9WgXcQ', 'app_type' : 'ROOM_APP' }],
});
</script> -->


<!-- <!doctype html>
<html>
<head>
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">

  <title>google-hangout-button Demo</title>

  <style>
  section {
    max-width: 500px;
  }
  section > div {
    padding: 10px;
  }
  </style>

  <script src="/assets/webcomponents.min.js"></script>

  <link rel="import" href="http://localhost:3000/google-hangout-button">

</head>
<body unresolved>
  <section>

    <div layout horizontal center>
      <span flex>Wide Hangout on Air button</span>
      <span flex><google-hangout-button type="onair" width="175"></google-hangout-button></span>
    </div>
    <!-- <div layout horizontal center>
      <span flex>Automatically launch Hangout app</span>
      <span flex>
        <google-hangout-button
        apps="[{'app_id' : '184219133185', 'start_data' : 'dQw4w9WgXcQ', 'app_type' : 'ROOM_APP' }]"
        ></google-hangout-button>
      </span>
    </div>
  </section>
</body>
</html> -->
